<h1>{{title | uppercase}}</h1>

<nav>
    <a routerLink="/heroes">Heroes</a>
    <a routerLink="/dashboard">Dashboard</a>
</nav>
<!-- <app-heroes></app-heroes>   -->
<!-- this selector is further calling hero-detail compoenet -->
<router-outlet></router-outlet>
<app-messages></app-messages>
